@import '_variables.less';
@import '_fonts.less';
@import '_grid.less';
@import '_override.less';


html{
	font-family: @antonioregular;
}

a{ color: @salmon;}
.header{
	background-image: url('../images/bg-header.svg'); 
	background-position: top;
	background-color: lighten(@salmon, 15%);
	background-size: cover;
	// height: 650px;
	max-height: 650px;
}

header{
	h2,h3,h4,h5{
		color: @darkBrown;
		text-shadow: 1px 1px 0px @white;
	}
}

#logo{
	margin-top: 3%;
	text-align: center;
	margin-bottom: 3%;
}

#main{
	h1{
		font-family: @antoniobold;
		text-transform: uppercase;
		color: @darkBrown;
		text-shadow: 1px 1px 0px rgba(247,232,222,.5);
	}
	p{
		font-family: @antoniolight;
		color: @darkBrown;
		font-size: 2em;
		text-shadow: 1px 1px 0px rgba(247,232,222,.5);
	}
	strong{
		font-family: @antonioregular;
	}
}

nav{
	-webkit-box-shadow: none;
	box-shadow: none;
	background: @darkBrown;
	opacity: 20%;
	//background: none;
	//position: absolute;
	//top: 0;
	//width: 100%;
	//height: 70px;
}

.how-to-do{
	img{
		height: 80px;
	}
}
#make-a-wish{
	background: lighten(@grey, 30%);
}

footer.page-footer{
	background: @darkBrown;
}
#modal1{
	//width: 35%;
}

.col{
	//background-color: rgba(210,10,10,.3);
}
